@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital@1&family=Hind:wght@300;400&display=swap");
header {
  background-color: rgb(230, 149, 163);
}

footer {
  background-color: rgb(230, 149, 163);
}

.boton {
  background-color: rgb(230, 149, 163);
}

h1 {
  font-family: "Gentium Book Plus";
}

h4 {
  font-family: "Gentium Book Plus";
}

a {
  font-family: "Gentium Book Plus";
}

main .h1 {
  font-size: 60px;
}

body {
  background-color: rgb(243, 206, 206);
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.font-destacados {
  font-family: "Gentium Book Plus", sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.productos_nombres {
  font-family: "Gentium Book Plus", sans-serif;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.home-principal {
  font-family: "Gentium Book Plus", sans-serif;
  font-size: 60px;
  color: rgb(230, 149, 163);
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 50px;
  text-align: center;
  animation-name: backInLeft;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
}

.logo-menu {
  width: 120px;
  height: 80px;
  border-radius: 15px;
}

.icono_menu {
  border-radius: 15px;
}

.style-menu {
  font-family: "Gentium Book Plus", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  float: left;
  display: block;
  cursor: pointer;
}

.carousel-item {
  max-height: 40rem;
}

.font_inicio {
  padding: 10px;
  color: white;
  text-decoration: none;
}

.contenedor > * {
  padding: 20px;
  margin: 20px;
}

.tortas {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tortas {
  width: 400px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.torta1 {
  grid-area: torta1;
}

.torta2 {
  grid-area: torta2;
}

.torta3 {
  grid-area: torta3;
}

.grid-container {
  font-family: "Gentium Book Plus", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  width: 90%;
  margin: 40px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1fr);
  grid-template-areas: "torta1 torta2 torta3";
  gap: 30px;
}

.grid-productos {
  font-size: 20px;
  text-transform: uppercase;
  width: 90%;
  margin: 40px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  grid-template-areas: "uno dos tres" "cuatro cinco seis";
  gap: 10px;
}

.grid-productos .card {
  width: 333px;
  height: 650px;
  border-radius: 2px;
  box-shadow: 2px 2px 2px 2px rgb(230, 149, 163);
  margin: 20px;
  text-align: center;
}

.grid-productos .card:hover {
  transform: translateY(-15px);
  box-shadow: 2px 2px 2px 2px rgb(230, 149, 163);
}

.grid-productos a {
  padding: 0 1rem;
  font-size: 16px;
  font-weight: 300;
}

.grid-productos p {
  font-size: 20px;
}

@keyframes primera {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1);
  }
}
.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.uno {
  grid-area: uno;
}

.dos {
  grid-area: dos;
}

.tres {
  grid-area: tres;
}

.cuatro {
  grid-area: cuatro;
}

.cinco {
  grid-area: cinco;
}

.seis {
  grid-area: seis;
}

.boton {
  background-color: rgb(230, 149, 163);
  border-radius: 25px;
  text-decoration: none;
  color: white;
  margin-top: 1rem;
  cursor: pointer;
  width: 100px;
  height: 40px;
  transition: heigth 1s, width 1s;
  font-family: "Gentium Book Plus", sans-serif;
}

.boton:hover {
  height: 50px;
  width: 120px;
  background-image: rgb(230, 149, 163);
}

.boton--alternativo {
  font-size: 20px;
  font-weight: bold;
}

#footer {
  width: 100%;
  background-image: rgb(230, 149, 163);
  color: white;
  padding: 40px 40px;
  margin: 0px;
  font-family: "Gentium Book Plus", sans-serif;
  font-size: 25px;
}

i {
  font-size: 25px;
  margin: 10px;
}

.logo_footer {
  text-align: right;
  float: right;
  display: block;
}

.box_promociones {
  width: 100%;
  padding: 20px;
  margin: 0px;
}

.promocion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-promociones {
  margin: 20px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 20px;
  font-family: "Gentium Book Plus", sans-serif;
}

.flex-nosotros {
  font-family: "Gentium Book Plus", sans-serif;
  font-size: 20px;
  margin: 60px;
  padding: 40px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  text-transform: uppercase;
  gap: 100px;
}

.formulario {
  padding-bottom: 40px;
  padding: 40px;
  font-family: "Gentium Book Plus", sans-serif;
}

.formulario__contacto {
  font-family: "Gentium Book Plus", sans-serif;
  font-size: 25px;
}

.formulario_contacto {
  font-family: "Gentium Book Plus", sans-serif;
  font-size: 35px;
  text-align: center;
  margin: 20px;
  padding: 20px;
}

.imagen_nosotros {
  width: 30rem;
  padding: 10px;
  margin: 20px;
  background-color: white;
  border: 0px;
  border-radius: 1000px;
}

.nosotros_titulos {
  font-family: "Gentium Book Plus", sans-serif;
  font-size: 40px;
  text-align: center;
  padding: 20px;
}

.nosotros_texto {
  font-family: "Gentium Book Plus", sans-serif;
  font-size: 20px;
  text-align: center;
}

.productos, .torta_imagen {
  height: 450px;
  width: 80%;
  margin: 10px;
  padding: 10px;
}

.flex_productos {
  height: 500px;
  font-size: 3rem;
  font-family: "Gentium Book Plus", sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
}

.flex_productos * {
  padding: 10px;
  margin: 10px;
}

.navbar-nav .nav-link.active {
  color: white;
  font-family: "Gentium Book Plus", sans-serif;
  font-size: 25px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: rgb(230, 149, 163);
}

/** Media queris**/
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "torta1" "torta2" "torta3";
  }
  .grid-productos {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "uno dos" "tres cuatro" "cinco seis";
  }
  .flex-nosotros {
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  /** estilos generales**/
  header {
    flex-direction: column;
    align-items: center;
  }
  .style-menu .style-menu {
    font-size: 13px;
  }
  .home-principal {
    font-size: 50px;
  }
  /** index**/
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1fr);
    grid-template-areas: "torta1" "torta2" "torta3";
  }
  /** productos**/
  .grid-productos {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: "uno" "dos" "tres" "cuatro" "cinco" "seis";
  }
  /** promociones**/
  .grid-promociones {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    padding: 0px;
  }
  /** nosotros**/
  .flex-nosotros {
    flex-direction: column;
  }
}
@media (max-width: 320px) {
  .home-principal {
    font-size: 25px;
  }
  .carousel-item {
    width: 300px;
    height: 300px;
  }
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    grid-template-areas: "torta1" "torta2" "torta3";
  }
  .tortas {
    flex-direction: column;
    width: 300px;
    height: 400px;
  }
}

/*# sourceMappingURL=estilos.css.map */
