@import "colores";
@import "fonts";



$tamaño: 60px;
$estilos:(
    principales:rgb(230, 149, 163),
    color:  white,
    boton: rgb(230, 149, 163),
);

header{
    background-color: $color-hyf;
}
footer{
    background-color: $color-hyf;
}
.boton{
    background-color: $color-hyf;
}

h1{
    font-family: $estilo-letra;
}
h4{
    font-family: $estilo-letra;
}
a{
    font-family: $estilo-letra;
}
main{
.h1{
    font-size: $tamaño;
}
}
body{
    background-color: $background;
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing:border-box ;
   
}


.font-destacados{
    font-family: 'Gentium Book Plus', sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital@1&family=Hind:wght@300;400&display=swap');



.productos_nombres{
    font-family: 'Gentium Book Plus', sans-serif;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    

}
.home-principal{
    font-family: 'Gentium Book Plus', sans-serif;
    font-size: 60px;
    color: map-get($estilos , principales );
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 50px;
    text-align: center;

    animation-name: backInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
}
.icono_menu{
    border-radius: 15px;
    
}
.style-menu{
    font-family:'Gentium Book Plus', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    float: left;
    display: block;
    cursor: pointer;
}
.carousel-item{
    max-height: 40rem;
}
.font_inicio{
    padding: 10px;
    color: map-get($estilos, color );
    text-decoration: none;
}

.contenedor > *{
    padding: 20px;
    margin: 20px;
}
.tortas{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.tortas{
    width: 400px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.torta1{
    grid-area: torta1;
}

.torta2{
    grid-area: torta2;
}
.torta3{
    grid-area: torta3;
}
@mixin img-size($alto,$ancho) {
    height: $alto;
    width: $ancho;
}

.torta_imagen{
    @extend .productos;
}


.grid-container{
    font-family: 'Gentium Book Plus', sans-serif;
    font-size: 20px;
    text-transform: uppercase;

    width: 90%;
    margin: 40px auto;

    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1fr);
    grid-template-areas:
    "torta1 torta2 torta3" ;
    gap: 30px;
    
}
.grid-productos{
    font-size: 20px;
    text-transform: uppercase;

    width: 90%;
    margin: 40px auto;
    

    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    justify-items: center;
    align-items: center;
    grid-template-areas: 
    "uno dos tres"
    "cuatro cinco seis";
    gap: 10px;

    &.card{
        width: 333px;
        height: 650px;
        border-radius: 2px;
        box-shadow: 2px 2px 2px 2px rgb(230, 149, 163);
        margin: 20px;
        text-align: center;
    }
    &:hover{
        transform: translateY(-15px);
        box-shadow: 2px 2px 2px 2px rgb(230, 149, 163);
    }
    & a{
        padding: 0 1rem;
        font-size: 16px;
        font-weight: 300;
    }
    & p{
        font-size: 20px;
    }
}


@keyframes primera {
    0%{
        transform: scale(0.5);
    }
    50%{ 
        transform: scale(1);
    }
    
}
.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.uno{
    grid-area: uno;
}
.dos{
    grid-area: dos;
}
.tres{
    grid-area: tres;
}
.cuatro{
    grid-area: cuatro;
}
.cinco{
    grid-area: cinco;
}
.seis{
    grid-area: seis;
}
.boton{
    background-color: map-get($estilos, boton );
    border-radius: 25px;
    text-decoration: none;
    color: white;
    margin-top: 1rem;
    cursor: pointer;
    width: 100px;
    height: 40px;
    transition: heigth 1s, width 1s;
    font-family: 'Gentium Book Plus', sans-serif;
}
.boton:hover{
    height: 50px; width: 120px;
    background-image: $color-hyf;
}
.boton--alternativo{
    font-size: 20px;
    font-weight: bold;
}
#footer {
    width: 100%;
    background-image: $color-hyf;
    color: white;
    padding: 40px 40px;
    margin: 0px;
    font-family: 'Gentium Book Plus', sans-serif;
    font-size: 25px;
}

i{
    font-size: 25px;
    margin: 10px;
}
.logo_footer{
    text-align: right;
    float: right;
    display: block;
}
.box_promociones{
    width: 100%;
    padding-left: 60px;
    padding: right 60px; ;
    margin: 70px;
}
.promocion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.grid-promociones{
    margin: 20px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    font-size: 20px;
    font-family: 'Gentium Book Plus', sans-serif;
    
}
.flex-nosotros{
    font-family:'Gentium Book Plus', sans-serif; 
    font-size: 20px;

    margin: 60px;
    padding: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.formulario{
   padding-bottom: 40px;
   padding:40px;
   font-family: 'Gentium Book Plus', sans-serif;
}
.formulario_contacto{
    font-family: 'Gentium Book Plus', sans-serif;
    font-size: 30px;
    text-align: center;
}
.formulario__contacto{
    font-family: 'Gentium Book Plus', sans-serif;
    font-size: 20px
}

.imagen_nosotros{
    width: 30rem;
    padding: 20px;
    margin: 30px;
    background-color:rgb(228, 219, 219);
    border: 1px;
    border-radius: 1000px;
    
}
.nosotros_titulos{
    font-family: 'Gentium Book Plus', sans-serif;
    font-size: 40px;
    text-align: center;
    padding: 20px;
}
.nosotros_texto{
    font-family:'Gentium Book Plus', sans-serif;
    font-size:  20px; 
    text-align: center;
}
.productos{
    @include img-size(450px,80%);
    margin: 10px;
    padding: 10px;
}

.flex_productos{
    height: 500px;
    font-size: 3rem;
    font-family:'Gentium Book Plus', sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-items: center;
    align-items: center;
}
.flex_productos > *{
    padding: 10px;
    margin: 10px;
}


header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-image: $color-hyf;
}
@media (max-width:576px){
    header {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .style-menu{
        font-size: 13px;
        align-items: center;
        justify-items: center;
    }
    .grid-container{
        flex-direction: column;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3,1fr);
        grid-template-areas:
        "torta1"
        "torta2"
        "torta3";
    }
    .tortas{
        width: auto;
        flex-direction: column;
    }
    .grid-productos{
    grid-template-columns: 1fr, 1fr;
    grid-template-rows:repeat(2,1fr);
    grid-template-areas:
    "uno dos"
    "tres cuatro"
    "cinco seis";
    }
    .grid-promociones{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3,1fr);
    }
    .flex-nosotros{
        flex-direction: column;
    }
}
@media (max-width:768px){
    header {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .grid-container{
        flex-direction: column;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3,1fr);
        grid-template-areas:
        "torta1"
        "torta2"
        "torta3";
    }
    .grid-promociones{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3,1fr);
    }
}